{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="container">
    <h2>Rejestracja</h2>

    <div class="alert alert-warning" role="alert">
    Zarejestrowane konto nie wymaga uwierzytelniania przez e-mail i jest od razu dostępne po jego utworzeniu w serwisie.
    </div>


    {% if form_errors(registrationForm) %}
    <div class="alert alert-danger" role="alert">
    {{ form_errors(registrationForm) }}    
    </div>
    {% endif %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn-success">Register</button>
    {{ form_end(registrationForm) }}
    
</div>    
{% endblock %}