{% extends 'base.html.twig' %}

{% block title %}Entry index{% endblock %}

{% block body %}
<div class="container">

    <h1>Wpisy użytkownika {{ app.user.email }}</h1>
<hr/>

<a href="{{ path('app_entry_new') }}" class="btn btn-success"><i class="bi bi-clipboard-plus"></i> Dodaj wpis</a>
{% for entry in entries %}
<div class="card mt-3">
   <div class="card-header d-flex align-items-center justify-content-between">
        <div><b>{{ entry.name }}</b> {{ entry.date ? entry.date|date('d.m.Y') : '' }}</div>
        <div>
            <form method="post" action="{{ path('app_entry_delete', {'id': entry.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entry.id) }}">
        <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>Usuń wpis</button>
    </form>   
        </div> 
   </div>
   <div class="card-body">
      {% if entry.foodCount %}
            <table class="table table-bordered">
                <tbody>
                {% for item in entry.foodCount %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.amount }}g</td>
                    <td>{{(item.product.energy * (item.amount / 100))}}kcal</td>
                    <td>{{(item.product.protein * (item.amount / 100))}}g białka</td>
                    <td>{{(item.product.fat * (item.amount / 100))}}g tłuszczu</td>
                    <td>{{(item.product.carbohydrates * (item.amount / 100))}}g węglowodanów</td>                    
                </tr>
                {% else %}
                <p>Brak produktów. Dodaj pierwszy produkt</p>
                {% endfor %}      
                </tbody>
            </table>
      {% endif %}
      <div class="btn-group">
      <a href="{{ path('app_food_count_new', {'entry': entry.id}) }}" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Dodaj produkt</a>
      </div>

   </div>
</div>
{% else %}
<p>Nie znaleziono wpisów. Dodaj pierwszy wpis</p>
{% endfor %}

<hr/>

</div>
{% endblock %}
